{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
          <form class="card-body cardbody-color p-lg-5" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="text-center">
              <img src="../../static/login_image.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile" />
            </div>
            {% if form.errors %}
              <div class="alert alert-danger">
                <p>Your username and password didn't match. Please try again.</p>
              </div>
            {% endif %}

            <div class="mb-3">
              <td>{{ form.username|as_crispy_field }}</td>
            </div>
            <div class="mb-3">
              <td>{{ form.password|as_crispy_field }}</td>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-color px-5 mb-3 w-100">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
